
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
<link rel="stylesheet" href="/css/userprofile.css">

</head>
<body >
   <div class="container" id="root">
        
    
  <%if(user.id==profile_user.id){%>
  <!-- if user match than show user details  -->
  
    
<header>

	<div class="container1">

		<div class="profile">

			<div class="profile-image">

				<img class="user_avatar"src="<%=user.avatar%>" alt="">

			</div>

			<div class="profile-user-settings">

				<h1 class="profile-user-name"> <%=user.name%></h1>

        <button class="btn1 profile-edit-btn border border-dark" data-toggle="modal" data-target="#user_profile_edit">Edit Profile</button>
        <div class="modal fade" id="user_profile_edit" tabindex="-1" aria-labelledby="user_profile_edit" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="user_profile_edit">Edit profile</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form action="/user/update/<%=profile_user.id%>" enctype="multipart/form-data" method="post">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" id="name" name="name" placeholder="Change Name Here " required value="<%=profile_user.name%>">
                      </div>
                      <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="Change Email Here " required value="<%=profile_user.email%>">
                      </div>
                      <div class="form-group">
                        <label for="bio">bio</label>
                        <input type="text" class="form-control" id="bio" name="bio" placeholder="Change bio here " value="<%=profile_user.bio%>">
                      </div>
                      <div class="form-group">
                        <label for="avatar">Profile Photo</label>
                        <input type="file" class="form-control-file" onchange="readURL(this)" accept="image/*" name="avatar" id="avatar">
                      
                        <img id="blah" src="#" alt="your image" />
                      
					  </div>
					  <p class="text-danger">*Note : Image Should be below 2 mb /2024 kb </p>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                      </div>
                  </form>   
                 </div>
              </div>
            </div>
          </div>  

				<button class="btn1 profile-settings-btn" aria-label="profile settings"><i class="fas fa-cog" aria-hidden="true"></i></button>

			</div>

			<div class="profile-stats">

				<ul>
					<li><span class="profile-stat-count">164</span> posts</li>
					<li><span class="profile-stat-count">188</span> followers</li>
					<li><span class="profile-stat-count">206</span> following</li>
				</ul>

			</div>

			<div class="profile-bio">

				<p><span class="profile-real-name"><%=user.name%></span> <%=user.bio%></p>

			</div>

		</div>
		<!-- End of profile section -->

	</div>
	<!-- End of container -->

</header>
<hr>
<main>

	<div class="container">

		<div class="gallery">
<%for(let img of profile_user.posts){%>
	<%if(img.post_img!=null){%>
			<div class="gallery-item" tabindex="0">

				<img src="<%=img.post_img%>" class="gallery-image" alt="">

				<div class="gallery-item-info">

					<ul>
						<li class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i class="fas fa-heart" aria-hidden="true"></i> 56</li>
						<li class="gallery-item-comments"><span class="visually-hidden">Comments:</span><i class="fas fa-comment" aria-hidden="true"></i> 2</li>
					</ul>

				</div>

			</div>
<%}%>
<%}%>
			
		</div>
		<!-- End of gallery -->


	</div>
	<!-- End of container -->

</main>
  <%}else{%>
  <!-- if user dont match than only show profile  -->
  <header>

    <div class="container1">
  
      <div class="profile">
  
        <div class="profile-image">
  
          <img class="user_avatar"src="<%= profile_user.avatar %>"" alt=" <%=profile_user.name%>">
  
        </div>
  
        <div class="profile-user-settings">
  
          <h1 class="profile-user-name"> <%=profile_user.name%></h1>
          
     
            <%if(!locals.are_friends){%>
              <a  href="/user/profile/<%=profile_user._id%>/toggle_friend" id="add-friend"  class="btn1 profile-edit-btn border border-dark bg-dark text-white " >Follow</a>
            <%}else{%>
                <a  href="/user/profile/<%=profile_user._id%>/toggle_friend" id="add-friend"  class="btn1 profile-edit-btn border border-dark bg-dark text-white ">Unfollow</a>
            <%}%>


  
  
        </div>
  
        <div class="profile-stats">
  
          <ul>
            <li><span class="profile-stat-count">164</span> posts</li>
            <li><span class="profile-stat-count">188</span> followers</li>
            <li><span class="profile-stat-count">206</span> following</li>
          </ul>
  
        </div>
  
        <div class="profile-bio">
  
          <p><span class="profile-real-name"><%=profile_user.name%></span> <%=profile_user.bio%></p>
  
        </div>
  
      </div>
      <!-- End of profile section -->
  
    </div>
    <!-- End of container -->
  
  </header>
  
  <%}%>
  
</div>
<script src="/js/user_profile.js"></script>
  </body>
</html>